@font-face {
	font-family: "Fact";
	src: url("./fonts/EurostileLTStd.otf") format("truetype"),
}

@font-face {
	font-family: "FactO";
	src: url("./fonts/EurostileLTStd-Oblique.otf") format("truetype"),
}

@font-face {
	font-family: "FactM";
	src: url("./fonts/EurostileLTStd-Demi.otf") format("truetype"),
}

@font-face {
	font-family: "FactMO";
	src: url("./fonts/EurostileLTStd-DemiOblique.otf") format("truetype"),
}

@font-face {
	font-family: "FactE";
	src: url("./fonts/EurostileLTStd-Ex2.otf") format("truetype"),
}

@font-face {
	font-family: "FactEB";
	src: url("./fonts/EurostileLTStd-BoldEx2.otf") format("truetype"),
}

