@font-face {
	font-family: "SansFont";
	src: url("./fonts/HelveticaNeueLTStd-Roman.otf") format("truetype"),
}

@font-face {
	font-family: "SansFontO";
	src: url("./fonts/HelveticaNeueLTStd-It.otf") format("truetype"),
}

@font-face {
	font-family: "SansFontL";
	src: url("./fonts/HelveticaNeueLTStd-Th.otf") format("truetype"),
}

@font-face {
	font-family: "SansFontLO";
	src: url("./fonts/HelveticaNeueLTStd-ThIt.otf") format("truetype"),
}

@font-face {
	font-family: "SansFontM";
	src: url("./fonts/HelveticaNeueLTStd-Md.otf") format("truetype"),
}

@font-face {
	font-family: "SansFontMO";
	src: url("./fonts/HelveticaNeueLTStd-MdIt.otf") format("truetype"),
}

@font-face {
	font-family: "SansFontB";
	src: url("./fonts/HelveticaNeueLTStd-Blk.otf") format("truetype"),
}

@font-face {
	font-family: "SansFontBO";
	src: url("./fonts/HelveticaNeueLTStd-BlkIt.otf") format("truetype"),
}

