@import "./fonts.scss";

html {
	font-size: 100%;
}

body,
p {
	font-family: "SansFont", sans-serif;
	font-size: .88rem;
}
h1,
h2 {
	font-family: "SansFontL", sans-serif;
}
h3,
h4 {
	font-family: "SansFontM", sans-serif;
}
h5 {
	font-family: "SansFontO", sans-serif;
}
