@import "./fonts.scss";


// --------------


html {
	font-size: $font-remset;
}

body,
p {
	font-family: "SansFont", sans-serif;
	font-size: 0.88rem;
}
h1,
h2 {
	font-family: "SansFontL", sans-serif;
}
h3,
h4 {
	font-family: "SansFontM", sans-serif;
}
h5 {
	font-family: "SansFontO", sans-serif;
}

.leftside {
	* {
		font-family: "SansFont", sans-serif;
	}
	.ui.menu {
		font-size: $font-p;
		width: 100%;
	}
}
